<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= stylesheet href= "css/style.css">
    <title>Cadastro de usuários</title>
</head>
<body>
    <div class="container">
        <form action="/Funcionarios" method="post" id="FormData" activate>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required>
            <hr>
            <label for="cargo">Cargo:</label>
            <input type="text" name="cargo" id="cargo" placeholder="Digite seu cargo" required>
            <hr>
            <label for="cpf">Cpf:</label>
            <input type="number" name="cpf" id="cpf" placeholder="Digite seu cpf" required>
            <hr>
            <button type="submit">Enviar</button>  
        </form>
    </div>
 
</body>
</html>