<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= stylesheet href= "css/style.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <form action="/Page" method="post" id="FormData">
            <label for="page">Escolha uma página:</label>
            <select name="page" id="page">
                <option value="">...</option>
                <option value="Funcionarios">Funcionários</option>
                <option value="Usuarios">Usuarios</option>
                <option value="Produtos">Produtos</option>
            </select>
            <hr>
            <!-- <button type="submit">Enviar</button> -->
        </form>
    </div>

    <script src="scripts/script.js"></script>
</body>
</html>