<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= stylesheet href= "css/style.css">
    <title>Produtos</title>
</head>
<body>
    <div class="container">
        <form action="/Produtos" method="post">
            <label for="preco">Preço:</label>
            <input type="text" name="preco" id="preco" placeholder="Qual o preco?" required>
            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao" id="descricao" placeholder="Descricao" required>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" placeholder="Nome do produto" required>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>